---
layout: default

---

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">주요작품 및 교육과정</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    {% assign works = site.works | sort:"wid" | reverse  %}
    {% for work in works %}
    <div class="col-md-4">
      <div class="card">
        <a href="{{ work.url }}"><img class="card-img-top img-fluid" src="{{ site.github.url }}/images/{{ work.img }}/thumb.jpg" alt="Card image cap"></a>
        <div class="card-block">
          <h4 class="card-title"><a href="{{ work.url }}">{{ work.title }}</a></h4>
          <p class="card-text">{{ work.description }}</p>
          <a href="{{ work.url }}" class="btn btn-primary">더 알아보기</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>



{% include course_grid.html %}
