---
layout: default
---

{% include facebook.html %}

<div id="front-banner" class="jumbotron">
  <div class="container"{% if site.data.front.banner.link %} onclick="location.href='{{ site.data.front.banner.link }}'"{% endif %}>
    {% if site.data.front.banner.title %}
    <h1 class="display-1"><span class="bg-primary">{{ site.data.front.banner.title }}</span></h1>
    {% endif %}
    <ul class="list-unstyled">
      {% if site.data.front.banner.when %}<li><span class="bg-primary lead">{{ site.data.front.banner.when }}</span></li>{% endif %}
      {% if site.data.front.banner.where %}<li><span class="bg-primary lead">{{ site.data.front.banner.where }}</span></li>{% endif %}
    </ul>
    {% if site.data.front.banner.description %}
    <p>{{ site.data.front.banner.description }}</p>
    {% endif %}
    {% if site.data.front.banner.ticket %}
    <p class="lead">
      <a class="btn btn-success btn-lg" href="{{ site.data.front.en.banner.ticket }}" role="button">예매하기</a>
    </p>
    {% endif %}
  </div>
</div>

<div id="front-about" class="jumbotron bg-default">
  <div class="container">
    <div class="col-md-8">
      <p class="lead">
        {{ site.data.front.introduction | newline_to_br }}
        <p><img src="/assets/images/{{ site.logo }}" alt="로고" class="img-responsive" /></p>
      </p>
    </div>
    <div class="col-md-4">
      <h2>{{ site.name }}</h2>
      <ul class="list-inline">
        <li>
          <p>
            <a class="btn btn-lg btn-success" href="/about/" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;&nbsp;자세히 보기</a>
          </p>
        </li>
        <li>
          <p><a class="btn btn-lg" id="fb-page-btn" href="{{ site.facebook.publisher }}" target="_blank" style=""><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;페이스북 페이지</a></p>
        </li>
      </ul>
      <div class="fb-like" data-href="{{ site.facebook.publisher }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
</div>

<div class="main-section section-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><a href="/works/">주요작품</a></h2>
      </div>
      {% include work_grid.html type="block" %}
    </div>
  </div>
</div>

<div class="main-section section-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><a href="/courses/">교육과정</a></h2>
      </div>
      {% include course_grid.html type="block" %}
    </div>
  </div>
</div>


<div class="main-section section-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>보이스 테라피</h2>
      </div>
      <div class="col-md-4">
        <img class="img-responsive" src="/assets/images/theraphy-temp.jpg" alt="Card image cap"/>
      </div>
      <div class="col-md-8">
          <p class="lead">어떤 노래는 이 순간, 이 곳에서 우연히 만난 목소리들이 서로 유혹하고, 싸우고 껴안고, 응시하고, 밀쳐내고, 달리고, 헐떡거리고, 미끄러져 흐르고, 솟구치고, 가라앉는 동안 만들어졌다 사라집니다. 즉흥노래는 이 순간, 여기 모인 우리 모두가 공유하는 몸과 마음의 흔적입니다. '나'라는 굴레를 잠깐 벗어두고, 이 순간 그저 몸을 울리는 소리의 진동을 온전히 경험하는 '몸뚱이'가 되는 시간. 그 치유의 시간으로 여러분을 초대합니다. 굴레를 벗어나 퍼지는 소리들이 만나 함께 어울리는 동안 세상에 하나뿐인 우리들만의 즉흥 노래가 만들어 질 것입니다.</p>
      </div>
    </div>
  </div>
</div>
