---
layout: default
---

{% include facebook.html %}

<div id="front-banner" class="jumbotron">
  <div class="container">
    <div class="box" style="background: url('{{ site.data.front.banner.bg-image }}'); background-size: cover; ">
      <div class="col-md-6 col-md-offset-6 text-right">
        {% if site.data.front.banner.title %}
        {% if site.data.front.banner.sub-title %}<span id="sub-title">{{ site.data.front.banner.sub-title }}</span>{% endif %}
        <h2>{% if site.data.front.banner.link %}<a class="text-info" href="{{ site.data.front.banner.link }}">{% endif %}{{ site.data.front.banner.title | escape }}{% if site.data.front.banner.link %}</a>{% endif %}</h2>
        {% endif %}
        <ul class="list-unstyled">
          {% if site.data.front.banner.when %}<li><span class="text-info lead when">{{ site.data.front.banner.when }}</span></li>{% endif %}
          {% if site.data.front.banner.where %}<li><span class="text-info lead where">{{ site.data.front.banner.where }}</span></li>{% endif %}
        </ul>
        {% if site.data.front.banner.description %}
        <p>{{ site.data.front.banner.description }}</p>
        {% endif %}

        <p class="lead show-info">
          {% if site.data.front.banner.link %}
          <a class="btn btn-info btn-lg" target="_blank" href="{{ site.data.front.banner.link }}" role="button">{% if site.data.front.banner.link-text %}{{ site.data.front.banner.link-text }}{% else %}공연 정보{% endif %}</a>
          {% endif %}
          {% if site.data.front.banner.ticket %}
          <a class="btn btn-success btn-lg" target="_blank" href="{{ site.data.front.banner.ticket }}" role="button">{% if site.data.front.banner.ticket-text %}{{ site.data.front.banner.ticket-text }}{% else %}사전 예매{% endif %}</a>
          {% endif %}
        </p>
      </div>

    </div>
  </div>
</div>

<div id="front-about">
  <div class="container"><div class="row">
    <div class="col-md-8">
      <p class="lead">
        {{ site.data.front.introduction | newline_to_br | markdownify }}
        <p><img src="/assets/images/{{ site.logo }}" alt="로고" class="img-responsive" /></p>
      </p>
    </div>
    <div class="col-md-4">
      <h2 class="text-primary">{{ site.title }}</h2>
      <ul class="list-inline">
        <li>
          <p>
            <a class="btn btn-lg btn-success" href="/about/" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;&nbsp;자세히 보기</a>
          </p>
        </li>
        <li>
          <p><a class="btn btn-lg" id="fb-page-btn" href="{{ site.facebook.publisher }}" target="_blank" style=""><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;페이스북 페이지</a></p>
        </li>
      </ul>
      <div class="fb-like" data-href="{{ site.facebook.publisher }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    </div>
  </div></div>
</div>

<div class="main-section jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><a href="/works/">주요작품</a></h2>
      </div>
      {% include work_grid.html type="block" %}
    </div>
  </div>
</div>

<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><a href="/courses/">교육과정</a></h2>
      </div>
      {% include course_grid.html type="block" %}
    </div>
  </div>
</div>
