  {% assign works = site.en_works | sort:"order" | reverse %}{% if include.type == 'block' %}
  {% for work in works limit:3 %}
    <div class="col-sm-6 col-md-4">
      <div class="work-grid">
        <a href="{{ work.url }}"><img src="/assets/images/work/{{ work.slug }}/thumb.jpg" alt="{{ work.title }}"></a>
        <div class="caption">
          <h3><a href="{{ work.url }}">{{ work.title }}</a></h3>
          <p>{{ work.subtitle }}</p>
          <p><a href="{{ work.url }}" class="btn btn-primary" role="button">more</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
  {% for work in works %}
    <div class="col-sm-6 col-md-4">
      <div class="work-grid">
        <a href="{{ work.url }}"><img src="/assets/images/work/{{ work.slug }}/thumb.jpg" alt="{{ work.title }}"></a>
        <div class="caption">
          <h3><a href="{{ work.url }}">{{ work.title }}</a></h3>
          <p>{{ work.subtitle }}</p>
          <p><a href="{{ work.url }}" class="btn btn-primary" role="button">more</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
