$brand-primary: #ffd700;
$navbar-border-radius: 0;
$font-family-sans-serif: 'Noto Sans KR', 'Malgun Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base: 15px !default;
$line-height-base: 1.6;

$headings-font-family: 'Nanum Square';

@import "variables_slate"
