$brand-primary: #ffd700;
$navbar-border-radius: 0;
$font-family-sans-serif: 'Noto Sans KR', 'Malgun Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base: 15px !default;
$line-height-base: 1.6;

$headings-font-family: 'Nanum Square';
$headings-line-height: 1.3;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

@import "variables_slate"
