
.navbar-fixed-top {
  border-radius: 0;
}

.jumbotron.page-header {
  background-size: cover;
  margin-top: 50px;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-t-2 {
  margin-top: 30px !important;
}

.m-b-2 {
  margin-bottom: 30px !important;
}

footer.footer {
  margin-top: 60px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

@media(max-width: $screen-xs-max) {
  ul {
    padding-left: 20px;
  }
}
