.works {
  .jumbotron.page-header {
    background: #1c1e22;
    // background-image: url('/assets/images/banners/works.jpg');
  }
}

.work-grid {
  height: 420px;
  img {
    max-width: 100%;
  }
}

.work .jumbotron.page-header {
  background-size: cover;
  margin-top: 50px;
  @media(max-width: $screen-xs-max) {
    min-height: 240px;
    h1.display-3 {
      font-size: 3rem !important;
    }
    h3.display-4 {
      font-size: 2rem !important;
    }
  }
  @media(min-width: $screen-sm-max) {
    min-height: 560px;
  }
}
