---
layout: default
---

<div class="jumbotron page-header"{% if page.slug %} style="background-image:url({{ '/assets/images/course/' | append: page.slug | append: '/banner.jpg' }});"{% endif %}>
  <div class="container">
    <h1 class="display-3 text-white">{{ page.title | escape }}</h1>
    <h3 class="display-4">{{ page.subtitle }}</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 content">
      {{ content }}

      {% if page.url contains '/course/' %}
      {% if page.video.size > 0 %}
      <h2 class="m-t-2">영상</h2>
      {% for item in page.video %}
      <div class="embed-responsive embed-responsive-16by9 m-t-2">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ item }}" allowfullscreen></iframe>
      </div>
      {% endfor %}
      {% endif %}

      <div class="m-t-2">
      {% for file in site.static_files %}
        {% assign course_image_directory = '/assets/images/course/' | append: page.slug %}
        {% if file.path contains course_image_directory %}
        {% unless file.path contains 'banner.jpg' or file.path contains 'thumb.jpg'%}
        <p class="m-y-2"><img src="{{ file.path }}" alt="" class="img-responsive" /></p>
        {% endunless %}
        {% endif %}
      {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-sm-3 col-sm-offset-1 sidebar">
      <div class="sidebar-module">
        {% if page.url contains '/course/' %}
        <ol id="course-meta" class="list-unstyled">
          {{ page.meta | escape | markdownify }}
          {% if page.doc %}<li><p><a href="{{ page.doc }}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> introduction</a></p></li>{% endif %}
        </ol>
        {% endif %}
        {% if page.markup %}{{ page.markup | markdownify }}{% endif %}
        {% if page.url == '/course/lullaby/' %}
        <ul>
  <li>모집 일정:<br>
    <table class="table table-dark">
  <thead>
    <tr>
      <th style="text-align: center">참여 신청</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">5월 13일 ~ 5월 25일</td>
    </tr>
    <tr>
      <td style="text-align: center"><b>참여자 선정 발표</b></td>
    </tr>
    <tr>
      <td style="text-align: center">5월 28일 (예정)</td>
    </tr>
  </tbody>
</table>
  </li>
  <li>문의:<br>
    momsori2777@hanmail.net<br>
    010-7225-2777<br>
  </li>
</ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
