---
layout: default
---
<div class="jumbotron" style="background-image:url({{ page.banner }}); background-size: cover">
  <div class="container">

  <div class="col-md-9">
    <h1 class="display-6" style="color:#ffffff">{{ page.title }}</h1>
    <h3 class="display-8" style="color:#eeeeee">{{ page.subtitle }}

</h3>
    <br/><br/>
</div>




    <div class="col-md-3">

        <div class="card card-block">
 <!--      <h3 class="card-title">Special title treatment</h3>
      With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> -->
<p class="card-text">
형식: {{ page.object }}<br/>
창작년도: {{ page.c_year }}년<br/>
창작자: {{ page.creator }}<br/>
공연자: {{ page.performer }}<br/>
연출자: 김진영<br/>
소요시간: {{ page.r_time }}분<br/></p>
    </div>

</div>


  </div> <!-- container -->
</div> <!-- jubmotron -->



<div class="container">

  {{ content }}

	<div class="row">
		<div class="col-lg-12">
			<h2 class="section-title page-header">관련 사진</h2>
		</div>
		{% for i in (1..page.images) %}
		<div class="col-sm-3 col-xs-6">
			<img src="/images/{{ page.img }}/img00{{ i }}.jpg" class="img-responsive img-fluid img-thumbnail"/>
		</div>
		{% endfor %}
	</div>

	<hr/>


	<div class="row">
		<div class="col-lg-12">
			<h2 class="section-title page-header">관련 동영상</h2>
		</div>
		<div class="col-md-4 video">
			<div class="embed-responsive embed-responsive-4by3">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<h2 class="section-title page-header">다른 작품들</h2>
		</div>
	    {% assign works = site.works | sort:"wid" | reverse  %}
	    {% for work in works %}
	    <div class="col-md-4">
	      <div class="card">
	        <a href="{{ work.url }}"><img class="card-img-top img-fluid" src="/images/{{ work.img }}/thumb.jpg" alt="Card image cap"></a>
	        <div class="card-block">
	          <h4 class="card-title"><a href="{{ work.url }}">{{ work.title }}</a></h4>
	          <p class="card-text">{{ work.description }}</p>
	          <a href="{{ work.url }}" class="btn btn-primary">더 알아보기</a>
	        </div>
	      </div>
	    </div>
	    {% endfor %}  
	</div>


</div>